NEXT_PUBLIC_MAIN_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPPORT_SITE_URL=http://localhost:4000
NEXT_PUBLIC_ENVIRONMENT=development
CLOUDINARY_URL=cloudinary://173898426733489:lFLheCqwvTm2GG_tlbkvZNe2cxs@deu7yqrlj
NEXT_PUBLIC_CLOUDINARY_GALLERY_URL=https://res.cloudinary.com/deu7yqrlj/gallery